.inputBorderColoring{
    border-color: #92A1AD66;
}

.inputBorderColoring i{
    color: #292D32;
}


.inputBorderColoring:focus{
box-shadow: none !important;
}

.custom-icon{
border-color: #92A1AD66;
color:#92A1AD ;
}

.toggleState{
    color: #9C9D9F;
}

.custom-button{
    background-color:#8a74f9 ;
}

.custom-button:hover{
    background-color:#fff ;
    color: #8a74f9 !important;
    border: 1px solid  #8a74f9;
}

.inputColoring:focus{
    box-shadow: none !important;
}


.form-control::placeholder {
   color: #92A1AD;
  }

  .rotated-icon {
    transform: rotate(90deg);
  }


  .invertColorBtn:hover{
    color: white;
    background-color: #8a74f9 !important;
  }


  ::ng-deep .mdc-switch.mdc-switch--selected:enabled .mdc-switch__icon{
    display: none;
  }

  ::ng-deep .mdc-switch:enabled .mdc-switch__track::after {
    background: #8a74f9 !important;
    height: 27px !important;
}

::ng-deep .mdc-switch .mdc-switch__handle{
    color: #8a74f9 !important;
}

::ng-deep .mdc-switch {
    color: #8a74f9 !important;
}

::ng-deep .mat-slide-toggle-bar{
    height: 27px !important;
    width: 46px !important;
    border-radius: 36px !important;
}

::ng-deep .mat-slide-toggle-thumb{
    top: 6px !important;
    right: -6px !important;
    position: relative !important;
}



  @media screen and (max-width: 400px) {
    .controlers {
      flex-wrap: wrap !important;
    }
  }
